#system_notice_area_dismiss{
        color: #fff;
        cursor: pointer;
        font-weight: bold;
}
.system_notice_area_style1 {
	background: #5cb85c;
        border: 1px solid #5cb85c;
}

.system_notice_area_style0 {
	background: #ef4108;
        border: 1px solid #ef4108;;
}


#button {
	width: 140px;
	background-color: #E4E4E4;
	cursor: pointer;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

#button:hover {
	border: 1px solid #797979;
}

a {
	text-decoration: none;
}

label{
	cursor:default;
}

#img{
	width:20px;
	height: 20px;
}

#tdCenter{
	text-align: center;
}
.bottonWidth{
	width:120px;
}
#buttonDesign{
	width:120px;
}

#bottomBorderNone {
	border-bottom:none;
}

legend{
	font-size: 14px;
}

/*admin style*/

#system_notice_area {
	position: fixed;
        margin-bottom: 40px;
        left: 0;
        width: 100%;
        height: 24px;
        font-weight: normal;
        display: none;
        padding: 5px 0 1px;
        color: #fff;
        text-align: center;
        top: 0px;
        z-index: 100000;
}

#text {margin:50px auto; width:500px}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}

#tt {position:absolute; display:block; }
#tttop {display:block; height:5px; margin-left:5px;}
#ttcont {display:block; padding:2px 10px 3px 7px;  margin-left:-400px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; }

/*new theme*/
#poststuff h3{
  cursor:auto !important;
}

#screen-options-link-wrap.noArrowdown a:after{
  content:"";
}

#itsec-meta-link-wrap a.show-settings{
  float:right;
}

.itsec-setup-dialog .ui-dialog-titlebar{
  background: none repeat scroll 0 0 #2ea2cc;
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
  height: auto;
  line-height: 2.5;
  padding: 0 1em;
}

.itsec-setup-dialog .ui-dialog-titlebar button{
   color: #5bbdd5;
    height: 30px;
    margin: 0;
    padding: 0;
    right: 15px;
    top: 8px;
    width: 30px;
}

.hb-tab-market-help{
  background-color:#f37736 !important;
}

.hb-tab-market-help a{
  color:#fff !important;
}

.hatchbuck-form{ margin-bottom: 15px; }
.hfw-privacy{ color: #999; }
.hatchbuck-form label{ display: block;}
.hatchbuck-form input[type=text],
.hatchbuck-form input[type=email],
.hatchbuck-form textarea{
	margin-bottom: 10px;
	width: 100%;
}
.form-required{ color:red; padding-left: 5px;}
.hb-form-submit { width: 100%; text-align: right; }
#itsec_intro_modal { padding-top: 0 !important; }
.hatchbuck-training { margin-bottom: 20px; }

.success{color:#4cae4c;}
.danger{color:#d43f3a;}

#signup-form label{
	display: block;
}
#signup-form input[type=text],
#signup-form input[type=email]{
	margin-bottom: 10px;
}

#signup-form input{ width: 100%; }

p.notcompatible{
    color: red;
    height: 30px;
    line-height: 28px;
    padding: 0;
    margin: 0;
}

/*plugin*/
.plugin-div{
  clear: both;
  content: "";
  display: table;
}

.plugin-list li{
  float: left;
  margin: 7px;
  width: 250px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.plugin-list li img{
  width:100%;
}

.form-submit-button{ padding: 25px 0; }
.form-sybmit-button a{float: right; padding: 5px 0;}
.form-name input{ width: 100%; padding: 4px; }

body.admin_page_scroll-box-settings .iris-picker{
    position: absolute;
    z-index: 99999;
}
.cp-close{
    position: absolute;
    bottom: -15px;
    right: -15px;
    background: #de0000;
    border-radius: 10px;
    font-size: 12px;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #fff;
    border: 1px solid #c71839;
}

a.rate-us{
    background: #fff;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
    box-shadow: 0 0 1px #ddd;
    font-size: 16px;
    color: #555;
}
a.rate-us:hover{
    box-shadow: 0 0 2px #ccc;
}
a.rate-us .dashicons{
    color: #edb404;
    font-size: 18px;
}

.what-code{
    float: right;
    padding-top: 3px;
}

.button { cursor: pointer; }

.hatchbuck_sw_code{
    width:70%;
    height:100px;
}

.hb-text-info{
    font-size: 12px;
    color: #777;
}

.hb-tutorial-link{
    font-weight: normal;
    float:right;
}

a.hb-btn{
    color: #fff;
    background-color: #FC5021;
    border-color: #FC5021;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    outline: none !important;
    cursor: pointer;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    white-space: nowrap;
    padding: 10px;
    font-size: 14px;
    line-height: 1;
    border-radius: 3px;
}
a.hb-btn:hover {
    background-color: #e73403;
    border-color: #dd3203;
}
.hb-btn-block{
    display:block;
}
ul.hb-list{
    list-style-type: disc;
    margin-left: 30px;
}

li#toplevel_page_hatchbuck-manage .wp-menu-image img{
    height: auto;
    width: 15px;
    position: relative;
    bottom: 4px;
}
.hb-inside-row{
    display: table;
    width: 75%;
    margin: 0 auto;
    padding-top: 25px;
}
.hb-col-3{
    float: left;
    display: block;
    width: 25%;
    padding:0 15px;
}
.hb-col-3 img{
    max-width: 100%;
    height: auto;
}
.hb-support-col{
    background: #eee;
    border-radius: 3px;
    padding: 10px 25px;
    width: 25%;
    margin-left: 15px;
}

.hb-shortcode-select{
    padding: 3px 15px 4px;
    background: #eee;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
}

tr td.hb-td-12{
    padding-top: 12px;
}

.hb-active{
    padding: 4px 10px 5px;
    background: #5cb85c;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #4dad4d;
}

.hb-inactive{
    padding: 4px 10px 5px;
    background: #a9a9ae;
    color: #555;
    border-radius: 3px;
    border: 1px solid #9f9fa2;
}